# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Configuration of My Project
*.sdf
Game/ipch/
Game/GameLib/obj/
Game/GameLib/bin/
Game/GameMain/obj/
Game/GameMain/bin/
